# Env
.env
.env.*

# Node
node_modules/

# Build
/dist
/build

# Prisma generated
/generated/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Local docs
SKILLS.md
